body {
  @apply flex flex-row h-screen bg-black text-white;
}

.container {
  @apply flex flex-row w-full h-full;
}

.left-half {
  @apply flex-1 p-5 bg-black text-white;
  font-family: 'Luminari', fantasy;
}

.right-half {
  @apply flex-1 relative;
  background-image: url('/coverpage.jpeg'); /* Replace with your image URL */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}